@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<ul>
    <li>Web API was used to retrieve and add new catches</li>
    <li><a href="https://github.com/tyronegroves/SimpleCQRS">SimpleCQRS</a> was used for a CQRS (Command Query Responsibility Segregation) framework.</li>
</ul>
