@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Dave Scriven</strong><br/>
    <a href="mailto:dave.scriven@live.com.au">dave.scriven@live.com.au</a><br/>
    0425617475
</address>